# 모듈 불러오기

In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random
from matplotlib import rc
import matplotlib.font_manager as fm
import tqdm
plt.rcParams['font.family'] = 'Malgun Gothic'
%matplotlib inline

In [2]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# 데이터 불러오기

In [3]:
train=pd.read_csv('train.csv',encoding='utf-8')
test=pd.read_csv('test.csv',encoding='utf-8')

In [4]:
train

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,...,2022-11-19 엽록소,2022-11-20 엽록소,2022-11-21 엽록소,2022-11-22 엽록소,2022-11-23 엽록소,2022-11-24 엽록소,2022-11-25 엽록소,2022-11-26 엽록소,2022-11-27 엽록소,2022-11-28 엽록소
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2.8,2.8,2.7,2.7,...,70.978249,70.876794,70.705253,70.559603,70.427356,70.340491,70.293830,70.262422,70.169841,70.043251
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,3.3,3.3,3.3,3.2,...,71.535483,71.382303,71.253604,71.092665,70.955608,70.796630,70.597550,70.565088,70.560502,70.427600
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,3.0,2.9,2.9,2.9,...,71.279804,71.199570,71.144020,71.026740,70.920038,70.876723,70.710129,70.595971,70.418203,70.399578
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,3.1,3.0,3.0,3.0,...,69.934615,69.884124,69.845683,69.794682,69.779813,69.614644,69.455404,69.281590,69.238689,69.133970
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,3.7,3.6,3.6,3.6,...,68.313016,68.285364,68.209860,68.209458,68.040083,67.859963,67.775556,67.701456,67.504244,67.410093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202,TRAIN_2202,119,230.0,353.0,367.0,360.0,4.7,4.6,4.5,4.5,...,66.347384,66.293609,66.193131,66.176590,66.109845,66.008775,65.889675,65.734066,65.586656,65.560547
2203,TRAIN_2203,611,266.0,337.0,400.0,368.5,3.1,3.0,3.0,3.0,...,73.438844,73.432194,73.355195,73.329491,73.271361,73.088750,73.071705,73.069036,72.952559,72.944396
2204,TRAIN_2204,650,237.0,353.0,362.0,357.5,3.0,3.0,2.9,2.9,...,67.576066,67.404347,67.394009,67.247428,67.117025,66.933771,66.734617,66.572095,66.506006,66.479459
2205,TRAIN_2205,363,281.0,337.0,403.0,370.0,3.9,3.9,3.8,3.8,...,66.766379,66.602606,66.510781,66.334637,66.323613,66.248731,66.202532,66.108962,65.934979,65.812084
2206,TRAIN_2206,17,228.0,389.0,398.0,393.5,5.3,5.2,5.2,5.1,...,72.885385,72.734930,72.629823,72.454654,72.389570,72.271680,72.208433,72.070977,71.872453,71.870512

In [5]:
test

,ID,수고(m),수관폭1(min),수관폭2(max),수관폭평균,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,2022-09-05 새순,...,2022-11-19 엽록소,2022-11-20 엽록소,2022-11-21 엽록소,2022-11-22 엽록소,2022-11-23 엽록소,2022-11-24 엽록소,2022-11-25 엽록소,2022-11-26 엽록소,2022-11-27 엽록소,2022-11-28 엽록소
0,TEST_0000,231.0,219.0,302.0,260.5,4.3,4.2,4.2,4.1,4.1,...,72.091497,71.906176,71.886799,71.858720,71.725540,71.531618,71.476935,71.321237,71.184295,71.000223
1,TEST_0001,206.0,324.0,346.0,335.0,2.5,2.5,2.5,2.5,2.5,...,68.423776,68.353200,68.346777,68.188159,67.995233,67.879958,67.744820,67.673522,67.539973,67.447849
2,TEST_0002,282.0,373.0,404.0,388.5,4.7,4.7,4.6,4.6,4.5,...,74.435783,74.247468,74.142664,74.070401,73.892408,73.796143,73.615838,73.440136,73.387051,73.228319
3,TEST_0003,234.0,337.0,357.0,347.0,3.6,3.6,3.6,3.6,3.5,...,73.570735,73.420243,73.313538,73.149298,73.109599,72.924511,72.847411,72.838263,72.672156,72.538171
4,TEST_0004,222.0,329.0,347.0,338.0,2.7,2.7,2.7,2.7,2.6,...,72.216758,72.163153,72.052952,71.905982,71.766141,71.746813,71.668847,71.501043,71.419715,71.328224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,TEST_2203,217.0,265.0,288.0,276.5,2.5,2.5,2.4,2.4,2.4,...,70.567966,70.528762,70.333905,70.245126,70.186665,70.010219,69.916747,69.771722,69.737748,69.601365
2204,TEST_2204,182.0,191.0,262.0,226.5,4.1,4.1,4.1,4.0,4.0,...,66.545938,66.485657,66.408375,66.255137,66.206650,66.079592,65.951010,65.884988,65.719787,65.632342
2205,TEST_2205,254.0,280.0,332.0,306.0,3.8,3.8,3.8,3.7,3.7,...,63.254101,63.134023,63.035379,62.877995,62.681351,62.499735,62.421901,62.417195,62.323963,62.307955
2206,TEST_2206,257.0,285.0,297.0,291.0,4.5,4.4,4.4,4.3,4.3,...,64.331650,64.137868,64.045153,63.944310,63.916583,63.797809,63.762720,63.681733,63.512114,63.343589
2207,TEST_2207,244.0,380.0,391.0,385.5,4.9,4.8,4.8,4.7,4.7,...,65.234026,65.040294,64.984074,64.824334,64.721448,64.602840,64.541821,64.367357,64.197975,64.025473

In [6]:
train.columns[6]

'2022-09-01 새순'

In [7]:
train.columns[94]

'2022-11-28 새순'

In [8]:
train.columns[95]

'2022-09-01 엽록소'

In [9]:
train.columns[183]

'2022-11-28 엽록소'

In [10]:
# 유형별 변수 정리
y_var = ['착과량(int)']
id_var = list(train.columns[2:6])
saesoon = list(train.columns[6:95]) # 시계열성
yuprokso = list(train.columns[95:]) # 시계열성

In [22]:
id_var

['수고(m)', '수관폭1(min)', '수관폭2(max)', '수관폭평균']

In [11]:
id_vars=['ID']+y_var+id_var
value_vars=saesoon+yuprokso

In [12]:
"""
    ['ID', '착과량(int)', '수고(m)', '수관폭1(min)', '수관폭2(max)', '수관폭평균']
    를 기준으로 시계열데이터들을 melt

"""
train_melt = train.melt(id_vars=['ID']+y_var+id_var, value_vars=saesoon+yuprokso)
test_melt = test.melt(id_vars=['ID']+id_var, value_vars=saesoon+yuprokso)

In [13]:
train_melt

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,variable,value
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2022-09-01 새순,2.800000
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,2022-09-01 새순,3.300000
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,2022-09-01 새순,3.000000
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,2022-09-01 새순,3.100000
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,2022-09-01 새순,3.700000
...,...,...,...,...,...,...,...,...
392841,TRAIN_2202,119,230.0,353.0,367.0,360.0,2022-11-28 엽록소,65.560547
392842,TRAIN_2203,611,266.0,337.0,400.0,368.5,2022-11-28 엽록소,72.944396
392843,TRAIN_2204,650,237.0,353.0,362.0,357.5,2022-11-28 엽록소,66.479459
392844,TRAIN_2205,363,281.0,337.0,403.0,370.0,2022-11-28 엽록소,65.812084
392845,TRAIN_2206,17,228.0,389.0,398.0,393.5,2022-11-28 엽록소,71.870512

In [14]:
train_melt['date'] = train_melt['variable'].apply(lambda x: x.split(' ')[0])
train_melt['type'] = train_melt['variable'].apply(lambda x: x.split(' ')[1])

test_melt['date'] = test_melt['variable'].apply(lambda x: x.split(' ')[0])
test_melt['type'] = test_melt['variable'].apply(lambda x: x.split(' ')[1])

In [15]:
train_melt

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,variable,value,date,type
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2022-09-01 새순,2.800000,2022-09-01,새순
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,2022-09-01 새순,3.300000,2022-09-01,새순
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,2022-09-01 새순,3.000000,2022-09-01,새순
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,2022-09-01 새순,3.100000,2022-09-01,새순
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,2022-09-01 새순,3.700000,2022-09-01,새순
...,...,...,...,...,...,...,...,...,...,...
392841,TRAIN_2202,119,230.0,353.0,367.0,360.0,2022-11-28 엽록소,65.560547,2022-11-28,엽록소
392842,TRAIN_2203,611,266.0,337.0,400.0,368.5,2022-11-28 엽록소,72.944396,2022-11-28,엽록소
392843,TRAIN_2204,650,237.0,353.0,362.0,357.5,2022-11-28 엽록소,66.479459,2022-11-28,엽록소
392844,TRAIN_2205,363,281.0,337.0,403.0,370.0,2022-11-28 엽록소,65.812084,2022-11-28,엽록소
392845,TRAIN_2206,17,228.0,389.0,398.0,393.5,2022-11-28 엽록소,71.870512,2022-11-28,엽록소

In [16]:
train_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392846 entries, 0 to 392845
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ID         392846 non-null  object
 1   착과량(int)   392846 non-null  int64
 2   수고(m)      392846 non-null  float64
 3   수관폭1(min)  392846 non-null  float64
 4   수관폭2(max)  392846 non-null  float64
 5   수관폭평균      392846 non-null  float64
 6   variable   392846 non-null  object
 7   value      392846 non-null  float64
 8   date       392846 non-null  object
 9   type       392846 non-null  object
dtypes: float64(5), int64(1), object(4)
memory usage: 30.0+ MB

9월1일과 10월15일을 기준으로 새순의 성장을 확인

In [17]:
"""
처리된 결과 데이터 집합에는 'ID'와 'date'의 고유 조합당 하나의 행과 
'y_var', 'id_var', '새순', '새순0', '새순1' 및 '엽록소'에 대한 열이 있습니다.

"""
train_melt_preproc = train_melt[['ID']+y_var+id_var+['date']].drop_duplicates().reset_index(drop=True).merge(
    train_melt[train_melt['type']=='새순'][['ID', 'date', 'value']].rename(columns={'value':'새순'}),
    how='left' # 고유값 기준
).merge(
    train_melt[(train_melt['type']=='새순')&(train_melt['date']=='2022-09-01')][['ID', 'value']].rename(columns={'value':'새순0'}),
    how='left' # 고유값 기준 
).merge(
    train_melt[(train_melt['type']=='새순')&(train_melt['date']=='2022-10-15')][['ID', 'value']].rename(columns={'value':'새순1'}),
    how='left' # 고유값 기준
).merge(
    train_melt[train_melt['type']=='엽록소'][['ID', 'date', 'value']].rename(columns={'value':'엽록소'}),
    how='left' # 고유값 기준
)

In [18]:
train_melt_preproc

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,date,새순,새순0,새순1,엽록소
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2022-09-01,2.8,2.8,1.7,78.336504
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,2022-09-01,3.3,3.3,1.9,80.116691
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,2022-09-01,3.0,3.0,1.8,79.118529
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,2022-09-01,3.1,3.1,1.9,77.936262
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,2022-09-01,3.7,3.7,2.1,76.233231
...,...,...,...,...,...,...,...,...,...,...,...
196418,TRAIN_2202,119,230.0,353.0,367.0,360.0,2022-11-28,0.0,4.7,2.5,65.560547
196419,TRAIN_2203,611,266.0,337.0,400.0,368.5,2022-11-28,0.6,3.1,1.9,72.944396
196420,TRAIN_2204,650,237.0,353.0,362.0,357.5,2022-11-28,0.5,3.0,1.8,66.479459
196421,TRAIN_2205,363,281.0,337.0,403.0,370.0,2022-11-28,0.0,3.9,2.2,65.812084
196422,TRAIN_2206,17,228.0,389.0,398.0,393.5,2022-11-28,0.0,5.3,2.8,71.870512

In [19]:
# 9월1일과 전체의 차이
train_melt_preproc['새순diff0'] = train_melt_preproc['새순']-train_melt_preproc['새순0']

# 10월15일과 전체의 차이
train_melt_preproc['새순diff1'] = train_melt_preproc['새순']-train_melt_preproc['새순1']

# 엽록소/새순
train_melt_preproc['엽록소_새순'] = train_melt_preproc['엽록소']/(train_melt_preproc['새순']+0.01)  # 분모 0 방지

In [20]:
train_melt_preproc

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,date,새순,새순0,새순1,엽록소,새순diff0,새순diff1,엽록소_새순
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2022-09-01,2.8,2.8,1.7,78.336504,0.0,1.1,27.877759
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,2022-09-01,3.3,3.3,1.9,80.116691,0.0,1.4,24.204438
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,2022-09-01,3.0,3.0,1.8,79.118529,0.0,1.2,26.285226
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,2022-09-01,3.1,3.1,1.9,77.936262,0.0,1.2,25.059891
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,2022-09-01,3.7,3.7,2.1,76.233231,0.0,1.6,20.548041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196418,TRAIN_2202,119,230.0,353.0,367.0,360.0,2022-11-28,0.0,4.7,2.5,65.560547,-4.7,-2.5,6556.054733
196419,TRAIN_2203,611,266.0,337.0,400.0,368.5,2022-11-28,0.6,3.1,1.9,72.944396,-2.5,-1.3,119.580978
196420,TRAIN_2204,650,237.0,353.0,362.0,357.5,2022-11-28,0.5,3.0,1.8,66.479459,-2.5,-1.3,130.351881
196421,TRAIN_2205,363,281.0,337.0,403.0,370.0,2022-11-28,0.0,3.9,2.2,65.812084,-3.9,-2.2,6581.208400
196422,TRAIN_2206,17,228.0,389.0,398.0,393.5,2022-11-28,0.0,5.3,2.8,71.870512,-5.3,-2.8,7187.051196

In [23]:
test_melt_preproc = test_melt[['ID']+id_var+['date']].drop_duplicates().reset_index(drop=True).merge(
    test_melt[test_melt['type']=='새순'][['ID', 'date', 'value']].rename(columns={'value':'새순'}),
    how='left'
).merge(
    test_melt[(test_melt['type']=='새순')&(test_melt['date']=='2022-09-01')][['ID', 'value']].rename(columns={'value':'새순0'}),
    how='left'
).merge(
    test_melt[(test_melt['type']=='새순')&(test_melt['date']=='2022-10-15')][['ID', 'value']].rename(columns={'value':'새순1'}),
    how='left'
).merge(
    test_melt[test_melt['type']=='엽록소'][['ID', 'date', 'value']].rename(columns={'value':'엽록소'}),
    how='left'
)
test_melt_preproc['새순diff0'] = test_melt_preproc['새순']-test_melt_preproc['새순0']
test_melt_preproc['새순diff1'] = test_melt_preproc['새순']-test_melt_preproc['새순1']
test_melt_preproc['엽록소_새순'] = test_melt_preproc['엽록소']/(test_melt_preproc['새순']+0.01) # 분모 0 방지
test_melt_preproc

,ID,수고(m),수관폭1(min),수관폭2(max),수관폭평균,date,새순,새순0,새순1,엽록소,새순diff0,새순diff1,엽록소_새순
0,TEST_0000,231.0,219.0,302.0,260.5,2022-09-01,4.3,4.3,2.3,80.299924,0.0,2.0,18.631073
1,TEST_0001,206.0,324.0,346.0,335.0,2022-09-01,2.5,2.5,1.6,75.389791,0.0,0.9,30.035773
2,TEST_0002,282.0,373.0,404.0,388.5,2022-09-01,4.7,4.7,2.6,82.042248,0.0,2.1,17.418736
3,TEST_0003,234.0,337.0,357.0,347.0,2022-09-01,3.6,3.6,2.1,81.213424,0.0,1.5,22.496793
4,TEST_0004,222.0,329.0,347.0,338.0,2022-09-01,2.7,2.7,1.7,80.665529,0.0,1.0,29.765878
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196507,TEST_2203,217.0,265.0,288.0,276.5,2022-11-28,0.6,2.5,1.5,69.601365,-1.9,-0.9,114.100598
196508,TEST_2204,182.0,191.0,262.0,226.5,2022-11-28,0.0,4.1,2.3,65.632342,-4.1,-2.3,6563.234205
196509,TEST_2205,254.0,280.0,332.0,306.0,2022-11-28,0.6,3.8,2.2,62.307955,-3.2,-1.6,102.144189
196510,TEST_2206,257.0,285.0,297.0,291.0,2022-11-28,0.0,4.5,2.5,63.343589,-4.5,-2.5,6334.358891
196511,TEST_2207,244.0,380.0,391.0,385.5,2022-11-28,0.0,4.9,2.7,64.025473,-4.9,-2.7,6402.547296

In [24]:
train_df = train_melt_preproc.pivot(index=['ID']+y_var+id_var, columns=['date'], values=['새순diff0','새순diff1','새순', '엽록소_새순']).reset_index()
test_df = test_melt_preproc.pivot(index=['ID']+id_var, columns=['date'], values=['새순diff0','새순diff1', '새순', '엽록소_새순']).reset_index()

In [25]:
vars = []
for x in train_df.columns:
    if x[1]=='':
        vars.append(x[0])
    else:
        vars.append(x[0]+ ' ' + x[1])

train_df.columns = vars
test_df.columns  = ['ID']+ vars[2:]

In [27]:
train_x, valid_x, train_y, valid_y = train_test_split(train_df.iloc[:,2:] , train_df[y_var], test_size=0.4, random_state=42)

In [30]:
"""
    튜닝 결과, max depth = 5가 최적
    또한 나무 성장 정보는 성능에 영향을 주지 못함
"""
# Training
regr = RandomForestRegressor(max_depth=5, random_state=42, n_estimators=200)
regr.fit(pd.concat([train_x, valid_x], axis=0).iloc[:,4:], pd.concat([train_y, valid_y], axis=0).to_numpy().reshape(-1))


"""결과 저장"""
# Inference
pd.DataFrame({
    'ID':test_df['ID'],
    '착과량(int)':np.array(np.round(regr.predict(test_df.iloc[:,5:]), 0), dtype='int')
}).to_csv('submit_reproduce.csv', index=False, encoding='utf-8-sig')